*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CircularSp,spotify-circular,Helvetica,Arial,sans-serif;
    font-weight: bold;
    overflow-x: hidden;
    /* background-color: #256c93; */
}
::-webkit-scrollbar{
    display: none;
}
